<!DOCTYPE html>
<html>
  <head>
    <title>FbGraphRailsExample</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <% if current_user %>
        <p>
        <%= "Logged in as #{current_user.last_name} #{current_user.first_name}" %>
        <%= "(from #{current_user.hometown.name})" %>
        <%= link_to 'logout', logout_path %>
        <%= link_to 'top', root_path %>
        </p>
      <% else %>
        <p>not logged in</p>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
